.pt-icon-standard.pt-icon-caret-down.pt-datepicker-caption-caret {
        margin-left: 5px !important;
}

.pt-datepicker .pt-datepicker-caption select {
    padding: 0 10px 0 4px
}



.pt-datepicker .pt-datepicker-caption select.pt-datepicker-year-select{ 
    margin-left: 4px;
}
.pt-datepicker .pt-datepicker-caption select.pt-datepicker-year-select+.pt-datepicker-caption-caret{
     margin-left: 12px !important;
}
select.pt-datepicker-month-select {
   
    margin: -5px -1px 5px;

}